---
import MainLayout from "../layouts/mainLayout.astro"
---
<script>
    const page = window.location.pathname

    const textElem = document.getElementById("pathnameText")
    if (textElem) textElem.textContent = `${page}`


</script>
<MainLayout titleProp="404" description="Page not found">
	<div class="flex flex-col gap-2 justify-center items-center mt-48 w-full">
		<h1 class="text-and-primary text-6xl font-bold italic text-center">Page Not Found</h1>
		<h1 id="pathnameText" class="text-purple-400 text-2xl italic"></h1> <!-- Path that was visited goes here -->
		<h2 class="text-zinc-500 mt-10">'Not just another distributor' - 🦜</h2>
	</div>
</MainLayout>