---
import MainLayout from "../layouts/mainLayout.astro";
import type { Faq } from "../../types/payload-types"
import Container from "../components/Container.astro";
import { cmsFetch } from "../utils/requests";


const faqData = await cmsFetch(import.meta.env.PAYLOAD_CMS_URL + "/api/globals/faq")

const { questions } = await faqData.json() as Faq



---
<MainLayout titleProp="Frequently Asked Questions" description="Here are some frequently asked questions answered by the AND team!">
    <Container>
        <h1 class="text-4xl font-extrabold text-white mb-4">Frequently Asked Questions</h1>
        <div class="flex flex-col gap-2">
            {
            questions?.map((question) => {
                return (
                    <div class="mb-8">
                        <h2 class="text-xl text-white font-semibold mb-2">{question.question}</h2>
                        <p class="text-zinc-400">{question.answer}</p>
                        </div>
                    )
                }) || <p class="text-zinc-400">No questions found</p>
            }
        </div>
    </Container>
</MainLayout>