---
import CallToAction from "../components/CallToAction.astro";
import Container from "../components/Container.astro";
import MainLayout from "../layouts/mainLayout.astro";
---

<style>
    .dottedGrid::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: black;
        background-image: radial-gradient(#d4d4d4 1px, transparent 0);
        background-size: 40px 40px;
        background-position: -19px 0px;
        z-index: 1;
    }

    .dottedGrid::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        /* from red, via orange, to yellow */
        background: black;
        background-image: linear-gradient(to top, #ff7979, #ff7f00, #ffe100);
        mix-blend-mode: multiply;
        z-index: 2;
    }
</style>

<MainLayout
    pageTitle="Home"
    pageDescription="The beginnings of an amazing distributor, created by Aaron, Nick and Dave"
>
    <Container>
        <div class="z-10 mx-auto mt-32">

            <h1 class="text-5xl font-bold tracking-tight text-center text-white">
                hello, we're <span style="text-shadow: 0.3rem 0.3rem #e07d3b">and.fm</span>
            </h1>

            <h2 class="pt-5 text-2xl font-light tracking-tight text-center text-white">
                we're building the world's best artist platform, starting with
                distribution.
            </h2>

            <CallToAction />
        </div>
    </Container>
</MainLayout>
