---
import MailingListForm from "../components/MailingListForm.astro";
import MainLayout from "../layouts/mainLayout.astro"
---

<MainLayout titleProp="Home" description="The beginnings of an amazing distributor, created by Aaron, Nick and Dave">
    <div class="mb-32"></div>
    <MailingListForm />
</MainLayout>