---
import ThemeSwitch from "@components/ThemeSwitch.astro";
import Main from "../components/Main.astro";
import MainLayout from "../layouts/mainLayout.astro";
import Card from "@components/Card.astro";
---

<MainLayout
  pageTitle="Home"
  pageDescription="The best platform to run your music business."
>
  <Main>
    <div class="mb-12 text-center">
      <h1 class="mb-4 text-6xl">
        <span class="font-bold">and.fm</span>
        <br />
        <span class="">
          <span>everything in one</span>
        </span>
      </h1>
      <p class="mb-8 text-xl">we're building a better music business</p>
      {
        /*  <div class="flex justify-center space-x-4">
        <button class="bg-black text-white hover:bg-gray-800 px-4 py-2">
          Start Uploading
        </button>
        <button
          class="border-2 border-black bg-transparent text-black hover:bg-black hover:text-white px-4 py-2"
        >
          Learn More
        </button>
      </div>*/
      }
    </div>
    <div class="grid gap-8 md:grid-cols-3">
      <Card class="bg-blue-200">
        <h2 class="mb-2 text-2xl font-bold">what we do</h2>
        <p>
          we're not just another distributor. we're developing backbone
          infrastructure to run your music business.
        </p>
      </Card>
      <Card class="bg-green-300">
        <h2 class="mb-2 text-2xl font-bold">distribution</h2>
        <p>
          get access to efficient digital distribution and see your release on
          stores within two days. no artificial limits.
        </p>
      </Card>
      <Card class="bg-red-300">
        <!-- <Play class="mb-4 h-12 w-12" /> -->
        <h2 class="mb-2 text-2xl font-bold">not for profit</h2>
        <p>
          and.fm has no external investment and is owned by our members. excess
          profit is fully reinvested.
        </p>
      </Card>
    </div>
    <Card class="mt-12 bg-[#ffe6cf] dark:outline-black">
      <h2 class="mb-4 text-3xl font-bold">interested?</h2>
      <p class="mb-4">
        we're invite only while we grow. stay updated with <strong
          >and.fm</strong
        >'s progress towards open membership.
      </p>
      <div class="flex gap-2 md:flex-row flex-col">
        <a
          href="https://and.fm/discord"
          target="_blank"
          class="bg-black text-white d hover:bg-gray-800 px-4 py-2 flex-grow text-center"
          >Join The Discord</a
        >
        <a
          href="https://and.fm/bluesky"
          target="_blank"
          class="bg-black text-white hover:bg-gray-800 px-4 py-2 flex-grow text-center"
          >Follow on Bluesky</a
        >
      </div>
      {
        /*  <form class="flex gap-2 md:flex-row flex-col">
        <input
          class="md:flex-grow border-2 border-black bg-transparent px-4 py-2"
          placeholder="Enter your email"
          type="email"
          disabled
        />
        <button disabled class="bg-black text-white hover:bg-gray-800 px-4 py-2"
          >Subscribe</button
        >
      </form> */
      }
    </Card>
  </Main>
</MainLayout>
