---
import CircleCheck from "@components/icons/CircleCheck.astro";
import Main from "../components/Main.astro";
import MainLayout from "../layouts/mainLayout.astro";
import MemberPlan from "@components/MemberPlan.astro";
---

<MainLayout
  pageTitle="Pricing"
  pageDescription="Choose the membership plan that fits you best."
>
  <Main>
    <div class="mb-12 text-center">
      <h1 class="mb-4 text-6xl font-bold">simple pricing.</h1>
      <p class="mb-8 text-xl">pick your membership.</p>
    </div>
    <div class="flex flex-col h-full gap-32 text-black">
      <div class="flex flex-col md:flex-row items-start gap-16 justify-center">
        <MemberPlan
          name="basic"
          description="an all you need, no limits, no bs membership"
          price="$6.75/mo"
          actionButtonName="get started"
          bodyClass="bg-blue-300"
          priceClass="bg-blue-800"
          featureClass="bg-blue-100"
        >
          <li class="flex gap-2 items-center">
            <CircleCheck />keep 100% of your royalties
          </li>
          <li class="flex gap-2 items-center">
            <CircleCheck />YouTube Content ID collection
          </li>
          <li class="flex gap-2 items-center">
            <CircleCheck />no limits, period.
          </li>
        </MemberPlan>

        <MemberPlan
          name="premium"
          description="for those who need more"
          price="% of royalties"
          actionButtonName="contact us"
          bodyClass="bg-green-300"
          priceClass="bg-green-800"
          featureClass="bg-green-100"
        >
          <li class="flex gap-2 items-center">
            <CircleCheck />everything in basic...
          </li>
          <li class="flex gap-2 items-center">
            <CircleCheck />priority support
          </li>
          <li class="flex gap-2 items-center">
            <CircleCheck />access to beta features
          </li>
        </MemberPlan>
      </div>
      <p class="text-sm text-gray-700">
        Prices shown are in USD. The real price you pay may be adjusted based on
        your local currency.
      </p>
    </div>
  </Main>
</MainLayout>
