<p class="max-w-2xl mx-auto mt-5 mb-2 font-light text-center sm:text-lg text-zinc-300">AND is currently available to a limited group of artists.</p>
<p class="max-w-2xl mx-auto mt-5 mb-2 font-light text-center sm:text-lg text-zinc-300">Join the waitlist to reserve your spot, or join our Discord community for faster updates and more juicy info!</p>

<div class="flex flex-row items-center justify-center gap-2 mt-5">
    <a href="https://and.fm/waitlist" target="_blank" id="waitlistBtn" type="submit" class="h-full px-5 py-3 text-sm font-medium text-center text-black rounded-lg cursor-pointer bg-gradient-to-tr from-red-300 via-orange-300 to-yellow-300 sm:rounded">Join Waitlist</a>
    <a href="https://and.fm/discord" target="_blank" id="joinDiscordBtn" type="submit" class="h-full px-5 py-3 text-sm font-medium text-center text-black rounded-lg cursor-pointer bg-gradient-to-tr from-red-300 via-orange-300 to-yellow-300 sm:rounded">Join Discord</a>
</div>