---
const { class: className = "bg-blue-200" } = Astro.props;
---

<style>
  .card {
    outline-style: solid;
  }
</style>

<div
  class:list={[
    "card outline-4 p-6 text-black shadow-[8px_8px_0_0_rgba(0,0,0,1)]",
    className,
  ]}
>
  <slot />
</div>
