<footer class="flex flex-col items-center justify-center w-full h-auto p-8"> <!-- Footer -->
    <p class="text-sm font-light text-zinc-300">&copy; andfm limited {new Date().getFullYear()}</p>
</footer>