---
import Bluesky from "./icons/Bluesky.astro";
import Discord from "./icons/Discord.astro";
import Github from "./icons/Github.astro";
import Instagram from "./icons/Instagram.astro";
---

<footer class="bg-black text-white p-8">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-8">
    <div class="space-y-4">
      <h2 class="text-4xl font-bold font-Noord">and.fm</h2>
      <p class="text-sm">we're building a better music business</p>
      <div class="flex space-x-4">
        <a href="https://and.fm/discord" aria-label="Discord" target="_blank"
          ><Discord /></a
        >
        <a href="https://and.fm/bluesky" aria-label="Bluesky" target="_blank"
          ><Bluesky /></a
        >
        <a
          href="https://and.fm/instagram"
          aria-label="Instagram"
          target="_blank"><Instagram /></a
        >
        <a
          href="https://github.com/and-fm"
          aria-label="Instagram"
          target="_blank"><Github /></a
        >
      </div>
    </div>
    <div>
      <h3 class="font-bold mb-4">Membership</h3>
      <ul class="space-y-2">
        <li>
          <a href="/about" class="text-sm hover:text-cyan-300">About Us</a>
        </li>
      </ul>
    </div>
    <div>
      <h3 class="font-bold mb-4">Resources</h3>
      <ul class="space-y-2">
        <li>
          <a href="/updates" class="text-sm hover:text-cyan-300"
            >Platform Updates</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h3 class="font-bold mb-4">Company</h3>
      <ul class="space-y-2">
        <li>
          <a href="/privacy-policy" class="text-sm hover:text-cyan-300"
            >Privacy Policy</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="text-sm container mx-auto mt-8 pt-8 border-t border-gray-700">
    <p>
      &copy; {new Date().getFullYear()} andfm limited. All rights reserved.
    </p>
  </div>
</footer>
