---
import EmailFormInput from "./EmailFormInput.astro";
---

<section class="">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-md sm:text-center">
            <h2 class="mb-4 text-3xl font-extrabold tracking-tight sm:text-4xl text-white">Waiting List</h2>
            <p class="mx-auto mb-8 max-w-2xl font-light sm:text-xl text-zinc-400">AND distribution is currently only available to a limited selection of artists. Sign up to be notified about our public launch!</p>
            
            <EmailFormInput></EmailFormInput>
        </div>
    </div>
</section>
